.gallery-container {
    background-color: #2f4e6d; /* Warna latar belakang gallery */
    padding: 20px;
  }
  
  .gallery-item img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  