/* Mengatur background dan teks warna di seluruh body */
body {
  background-color: #87A6C0; /* Warna biru Nimbus Coffee */
  color: #4B3B2F; /* Warna coklat tua */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  position: relative; /* Pastikan body bisa diposisikan dengan benar */
}

/* Gunakan z-index untuk memastikan elemen seperti header berada di atas */
header {
  position: relative;
  z-index: 20; /* Menjaga header tetap di atas */
}

/* Pastikan background parallax di bawah */
.bg-fixed {
  position: relative;
  z-index: -1; /* Letakkan di bawah konten */
}

/* Tambahkan overflow untuk menghindari elemen meluber */
html, body {
  overflow-x: hidden;  /* Menghindari scroll horizontal */
}

/* Tailwind CSS dapat diterapkan di sini */
@tailwind base;
@tailwind components;
@tailwind utilities;
